.desgin_container {
  position: absolute;
  top: calc(50% - 210px);
  left: 200px;
  height: 440px;
  width: calc(100% - 200px);
}
.scroll_parent {
  width: calc(100vw - 200px);
  height: 320px;
  overflow: hidden;
}
.design_container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}
.design_item {
  width: 356px;
  height: 267px;
  opacity: 1;
  border-radius: 5px;
  margin: 20px 20px 30px;
  float: left;
  position: relative;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: all 1s 0.3s;
  opacity: 1;
}

.bg_image {
  height: 100%;
  opacity: 1;
  border-radius: 10px;
}
.image_container {
  height: 267px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.illustration {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.mask {
  height: 100%;
  width: 356px;
  height: 267px;
  opacity: 0.3;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  left: 0px;
  top: 0px;
}
.design_desc {
  font-size: 17px;
  font-family: Source Han Sans CN;
  font-weight: 500;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  text-align: center;
  position: absolute;
  bottom: 20px;
  padding: 20px;
}
.design_show_mask {
  width: 100%;
  height: 100vh;
  z-index: 20;
  position: relative;
  bottom: 100vh;
}
.design_shadow_mask {
  width: 100%;
  height: 100vh;
  z-index: 20;
  position: relative;
  bottom: 100vh;
}
.design_subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  text-align: center;
  text-overflow: ellipsis;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .desgin_container {
    left: 10px;
    height: 440px;
    width: calc(100% - 10px);
  }
}
