.develop-title-container {
  /* max-height: 500px; */
  width: 400px;
  float: left;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
  bottom: 20px;
}
.develop-title-bg {
  position: relative;
  right: 190px;
  top: 30px;
}
.develop-title-text {
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  bottom: 230px;
  left: 30px;
}
.design-title-container {
  overflow: hidden;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
}
.design-title-bg {
  position: relative;
  right: 30px;
  bottom: 50px;
  transform: rotateZ(280deg) scale(1.1);
}
.design-title-text {
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  left: 11px;
}
.swiper-scrollbar-drag {
  background: rgba(82, 22, 206, 1) !important;
}
#fp-nav {
  display: none;
}
.index-arrow {
  position: absolute;
  top: 80px;
  left: calc(50vw + 105px);
}
.develop-mouse {
  margin: 0;
  position: absolute;
  bottom: 80px;
  left: 540px;
  z-index: 10;
}
.fp-scroller {
  height: 100%;
}
.develop-container {
  position: absolute;
  top: 15px;
  width: 100vw;
}
/* .swiper-wrapper {
  position: absolute;
  left: 0px;
}
.swiper-container {
  margin-left: 0px !important;
} */
