.intro_container {
  margin-left: calc(50vw - 200px);
  font-size: 42px;
  font-weight: bold;
  line-height: 77px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  width: 500px;
  position: absolute;
  top: calc(50% - 120px);
}
@media screen and (max-width: 768px) {
  .intro_container {
    font-size: 30px;
    margin-left: calc(50vw - 170px);
    width: 360px;
  }
}
